@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
body{
    color: #fff;
    background-color: rgb(216, 216, 255);
}

*{
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.header{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    padding: 14px 100px;
    background: #0a3d62;
    display: flex;
    justify-content: space-between;
    z-index: 100; 
}
.header .logo {
    font-size: 1.8em;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.header .nav a{
    position: relative;
    display: inline-block;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
}

.fpf{
    margin-left: px;
  width: 600px;
  height: 400px;
  background-color: rgb(65, 71, 88);
  border-radius: 20px;
}

h2{
    color: black;
    margin-left: 5px;
}

.titulo{
    margin-top: 140px;
    color: rgb(36, 35, 35);
}

h6{
    color: black;
    margin-left: 5px;
}

#cuenta{
    display: grid; 
    grid-template-columns: repeat(2,1fr); 
    grid-template-rows: auto auto; 
    gap: 15px;
}

#lista{
    display: grid; 
    grid-template-columns: repeat(4,1fr); 
    grid-template-rows: auto auto; 
    gap: 30px;
}

.logro{
    border: 3px solid #0a3d62;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    color: black;
    font-size: 25px;
    transition: 0.5s ease; 
}

.logro:hover{
    width: 250px;
    height: 80px;
    
}

#info{
    display: grid; 
    grid-template-columns: repeat(3,1fr); 
    grid-template-rows: auto auto; 
    gap: 15px;
}

.info_bloque{
    border: 3px solid #0a3d62;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    color: black;
    font-size: 25px;
    transition: 0.5s ease; 
}

.info_bloque:hover{
    width: 250px;
    height: 80px;
    
}