@import url('https://fonts.googleapis0.0..com/css2?family=Comfortaa:wght@300..700&display=swap');

*{
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
header{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    padding: 14px 100px;
    background: #0a3d62;
    display: flex;
    justify-content: space-between;
    z-index: 100; 
}
.header .logo{
    font-size: 1.8em;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-button{
    font-size: 1.2em;
    margin-right: 10px;
    border: none;
    

}
html{
    scroll-behavior: smooth;
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(20, 20, 20);
    color: aliceblue;
    display: flex;
    flex-direction: column;
}

footer{
    background-color: rgb(209, 209, 209);
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

main{
    flex:20cm
}
