@import url('https://fonts.googleapis0.0..com/css2?family=Comfortaa:wght@300..700&display=swap');

*{
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

html{
    scroll-behavior: smooth;
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(20, 20, 20);
    color: aliceblue;
    display: flex;
    flex-direction: column;
}

footer{
    background-color: rgb(209, 209, 209);
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

main{
    flex:20cm
}
