@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

*{
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body{
    background-color: rgb(20, 20, 20);
    color: aliceblue;
}

footer{
    background-color: rgb(209, 209, 209);
    color: black;
}

a{
    text-decoration: none;
    color: black;
}
